Web/Service References/UserService/UserService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOM_Permission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OM_Permission" nillable="true" type="tns:OM_Permission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOM_Permission" nillable="true" type="tns:ArrayOfOM_Permission" />
  <xs:complexType name="OM_Permission">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControllerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDatetime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormMethod" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDateTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OM_Permission" nillable="true" type="tns:OM_Permission" />
  <xs:complexType name="OM_Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDatetiime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department_Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDel" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDateTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OM_Role" nillable="true" type="tns:OM_Role" />
  <xs:complexType name="OM_User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area_Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDatetime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDatetime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OM_User" nillable="true" type="tns:OM_User" />
</xs:schema>