Web/Service References/UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrderManager.Model.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/OrderManager.Service/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" />
  <xs:complexType name="OM_UserAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="Permission" nillable="true" type="q1:ArrayOfOM_Permission" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="Role" nillable="true" type="q2:OM_Role" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OrderManager.Model.Models" minOccurs="0" name="User" nillable="true" type="q3:OM_User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OM_UserAuthority" nillable="true" type="tns:OM_UserAuthority" />
</xs:schema>